<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="home.safe.com.myguarder">

    <!-- ACCESS_FINE_LOCATION , ACCESS_COARSE_LOCATION 둘중 하나 사용 -->
    <!--
       The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
       Google Maps Android API v2, but you must specify either coarse or fine
       location permissions for the 'MyLocation' functionality.
       도시 블록 1개 정도의 오차로 위치
    -->
    <!-- 도시 블록 1개 정도의 오차로 위치 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 최대한 정확한 위치를 판별 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ActivitySplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityMyGuarder" />
        <activity android:name=".ActivityCivilian" />
        <activity
            android:name=".ActivityPopup"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".ActivityTest"
            android:label="@string/title_activity_test" />
        <activity android:name=".ActivitySetting" />
        <activity
            android:name=".ActivityPopupCycle"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".ActivityPopupCivilianList"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".ActivityPopupLocationRequest"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".MainActivity"></activity>

        <service
            android:name=".ServiceMyguarder"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>